@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&family=Teko:wght@300&family=Titillium+Web&display=swap');
body{
    font-family: 'Kanit', sans-serif;
font-family: 'Teko', sans-serif;
font-family: 'Titillium Web', sans-serif;

}
 
header h1{
    padding: 10px;
    color:brown;
}
.midle{
    padding: 1rem;
 
 }
.title{
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 26%;
    height: 60vh;
}
.add{
    text-align: center;
}
.Brands{
     padding-left: 2rem;
}
.container{
    padding-left: 2rem;
}
.list{
    padding-left: 3rem;
}
.choice{
    padding-left: 2rem;
}
.lists{
    padding-left: 2rem;
}
.model{
    padding-left: 2rem;
    padding-top: 2rem;
}
.model1{
    padding-left: 2rem;
    padding-top: 1rem;
}
.model2{
    padding-left: 2rem;
    padding-top: 2rem;
}
.model3{
    padding-left: 2rem;
    padding-top: 1rem;
    
}
.model4{
    padding-left: 2rem;
    padding-top: 3rem;
}
.model5{
padding-left: 2rem;
padding-top:  1rem;
}
.model6{
    padding-left: 2rem;
    padding-top: 2rem;
}
.model7{
    padding-left: 2rem;
}
.footer{
    width: 100%;
    color:white;
    background-color:black;
}
.footer .foot1{
    padding: 1rem;
    
    
    text-align: center;
    font-size: large;
}

h5{
    color:aqua;
    padding-left: 1rem;
}
h3 a{
    color:darkviolet;
    /* text-decoration: none; */
}
