*{
    margin: 0;
    padding: 0;

}
.bgimage{
    width: 100%;
    height: 100vh;
}
.background{
         width: 97%;
    display: flex;
    justify-content: space-between;

    
}

.img1 img{
    width: 100%;
    height: 100vh;

}
.logo img{
    height: 38px;
    width: 135px;
    margin-left: 57px;
    margin-top: 27px;
}
.content{
    text-align: center;
    padding-top: 7rem;
    height: 20px;
    color: white;
    font-size:x-large;
    
    
}
.content h1{
    font-weight: 700;
    font-family: 'Titillium Web', sans-serif;
}
.options{
    margin-top: 2rem;
   
    font-size: medium;
    padding-left: 18px;
    transform: translateX(-25px);
    background-color: transparent;
    color:white;
    border-radius: 5px;
}
.options option{
    background-color:gray;
}
.icon{
     color:whit;
     display: flex;
     justify-content: space-between;
    
}
.icon i{
    transform: translate(-7px,43px);
    color: white;
}
.button button{
    margin-top: 32px;
    border: 1px solid red;
    height: 55%;
    width: 93px;
    font-size: large;
    background-color: red;
    color: white;
    border-radius: 5px;
}
.bgimg2{
    background-image: url(/images/Picsart_22-09-26_18-42-39-908.jpg);
    height: 100vh;
    width: 100%;
}






 .container{
    width: 100%;
    height: 100vh;
 }
